*.pyc
*.pyc
*.aux
*.bbl
*.blg
*.log
*~
.*.swp
*.sw*
CMakeCache.txt
CMakeFiles/
*.out
*.sv?
*.sv?
logs/*
*.DS_Store
*.idea/

clover-master/
inav-master/
scripts/height_control_flight.py
scripts/README_enhanced_height_control.md
